// 字体配置

@font-face {
    font-family: DigifaceWide;
    src: url("~@/assets/fonts/digifacewide.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Segoe UI";
    src: url("~@/assets/fonts/segoeui.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Segoeb";
    src: url("~@/assets/fonts/segoeuib.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}