// 函数 - 在 vue-config引入

// 倍图
@mixin bg($pic1, $pic2) {
    background-image: url($pic1);
    background-image: -webkit-image-set(url($pic1) 1x, url($pic2) 2x);
    background-image: image-set(url($pic1) 1x, url($pic2) 2x);
}

// 倍图 缩减版
@mixin bg1x($pic1) {
    background-image: url($pic1);
    background-image: -webkit-image-set(url($pic1));
    background-image: image-set(url($pic1));
}

// 文字
@mixin ellipsis() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// 文字
@mixin t-overflow($line:1) {
    @if $line==1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @else {
        display: -webkit-box;
        -webkit-line-clamp: $line;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}